h1 {
    color: rgb(28, 142, 235);
    text-align: center;
}


.fundo {
    background-color: #0f1124;
    flex-direction: column;
    display:flex;
    justify-self: center;
    justify-content: center;
    place-items: center;
}


.bg-tabuleiro {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
}


div.bg-tabuleiro div {
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 200px;
}


.linha2 {
    border-color: #26272e;
    border-width: 5px 0px 5px 0px;
    border-style: solid;
}

.coluna-div{
    border-color: #26272e;
    border-width: 0px 5px 0px 5px;
    border-style: solid;
}


div#currentplayer {
    color: rgb(28, 142, 235);
    margin-right: 10px;
    font-size: 30px ;
}

div.bg-tabuleiro div div {
    background-color: rgba(43, 189, 247, 0.7);
    height: 100%;
    width: 200px;
    align-items: center;
    font-size: 100px;
    font-weight: bold;
}

.fa-times {
    color: chocolate;
}

.fa-circle-o {
    color: silver;
}

.jogada:hover {
    background-color: rgba(2, 59, 82, 0.7); 
}
#reset:hover {
    background-color: #811f06; 
}

#reset {
    background-color: #5e1503; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    width: 50%;  
    transition-duration: 0.4s;
}